@import "tailwindcss";

@font-face {
	font-family: "Arabic";
	src: url("/fonts/ScheherazadeNew-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Ruqaa";
	src: url("/fonts/ArefRuqaa-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lateef";
	src: url("/fonts/Lateef-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ArabicBold";
	src: url("/fonts/ScheherazadeNew-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Nunito";
	src: url("/fonts/Nunito-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Nunito-Medium";
	src: url("/fonts/Nunito-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Nunito-Bold";
	src: url("/fonts/Nunito-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

:root {
	/* colors */
	--primary: #d9eafd;
	--background: #f5f7f8;
	--green: #019267;
	--green-dark: #0d7c66;
	--grey: #9aa6b2;
	--grey-dark: #616b76;
	--dark: #232323;

	/* fonts */
	--arabic: "Arabic", sans-serif;
	--arabic-bold: "ArabicBold", sans-serif;
	--nunito: "Nunito", sans-serif;
	--nunito-medium: "Nunito-Medium", sans-serif;
	--nunito-bold: "Nunito-Bold", sans-serif;
}

@theme {
	/* colors */
	--color-primary: #d9eafd;
	--color-background: #f5f7f8;
	--color-green-dark: #0d7c66;
	--color-green: #019267;
	--color-grey: #9aa6b2;
	--color-grey-dark: #616b76;
	--color-dark: #232323;

	/* fonts */
	--font-arabic: "Arabic", sans-serif;
	--font-ruqaa: "Ruqaa", sans-serif;
	--font-lateef: "Lateef", sans-serif;
}

body {
	background: var(--background);
	font-family: var(--nunito);
}

.home {
	background-image: url("../assets/images/bg.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
